.messenger{
    height: 92%;
    width: 100%;
    display: flex;
    background-color: black;
    transform: translateY(70px);
    position: fixed;
    
}

.Sidebar{
    transform: translateY(10%);
}
/* calc(100vh - 70px) */
.chatMenu{
    width: 25%;
    margin: 0;
    border-left: white;
    background-color: black;
}

.chatMenuInput{
    width: 90%;
    padding: 10px ;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

.line{
    height: 100%;
    width: 0.75px;
    background-color: white;
    margin: 0;
}

.chatBox{
    width: 40%;
    background-color: black;
    /* border-right: 2px white; */
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: black;
}

.chatBoxWrapper:focus{
    outline: none;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.chatMessageInput{
    width: 80%;
    height: 30%;
    padding: 10px;
    margin-bottom: 3%;
    border-radius: 20px;
}

.chatSubmitButton{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(117, 207, 74);
    color: black;
    margin-bottom: 3%;
    margin-right: 3%;
}

/* .chatOnline{
    flex: 3;
} */

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.noConversationText{
    position: absolute;
    top: 30%;
    left: 90px;
    font-size: 25px;
    color: rgb(183, 183, 183);
    cursor: default;
}