.homeshare {
    width: 64rem;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(75, 66, 66, 0.43);
    background: #000000;
    margin:20px;
    translate: -145px 20px ;
}

.homeshareWrapper {
    padding: 10px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    align-self: center;
}

.homeshareTop {
    display: flex;
    align-items: center;
}

.homeshareProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.homeshareInput {
    border-radius: 10px;
    width: 80%;
    border: none;
    height: 30px;
    background: #272729;
    color: white;
    padding: 5px;
}
.homeshareInput::placeholder{
    color: rgb(102, 188, 203);
}

.homeshareInput:focus {
    outline: white;
}


.homeshareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeshareOptions {
    display: flex;
    margin-left: 15px;
}

.homeshareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.homeshareIcon {
    font-size: 18px;
    margin-right: 3px;
    color: rgb(126, 162, 163);
}

.homeshareOptionText {
    font-size: 14px;
    font-weight: 500;
}

.homeshareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    background: #000000;
    color: rgb(15, 208, 215);
}

.homeshareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
}

.homeshareImg {
    width: 100%;
    object-fit: cover;
}

.homeshareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}