.communityContainer{
    display: flex;
    width: 100%;
    height: 100%;
    background: black;
    overflow: scroll;
}

.parent{
    background: red;
}
.coverImage{
    height:250px;
    width: 80rem;
}
.lowerContainer{
    display: flex;
    border-radius: 10% ;
}
.communityfeed{
    align-items: column;
}

.communityCover{
    height: 100px;
    position: relative;
}
.communityCoverImg{
    position: fixed;
}