.topNavBar{
    background: black;
    width:100%;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.topbarIcons{
    width:50px;
    margin:10px;
}

.logoimg{
    height: 60px;
    width:277.5px;
    transform: translateY(10px);
}

.profileSide{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color:white;
    width:50px;
    transform: translateY(10px);
}

.topbarIconBadge{
    width: 20px;
    height: 15px;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 12px;
}

.topbarImg{
    width: 45px;
    height: 45px;
    transform: translateX(-10px);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin:5px;
}