.homesidebar {
    width: 300px;
    height: auto;
    overflow-y: scroll;
    translate: 40px 90px;
}

.homesidebarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 450px;
    /* background: rgba(255, 255, 255, 0.15); */
    background: black;
    /* backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(8.5px); */
    border-radius: 10px;
    border: 1px solid white;
    margin: 10px;
    z-index: 5;

}

.homesidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(20px);
}

.homesidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    font-size: 25px;
}

.homesidebarIcon {
    margin-right: 15px;
}

.homelink {
    text-decoration: none;
    color: white;
}

.homelogoutBtn {
    border: none;
    background: inherit;
    color: white;
    font-size: 25px;
    transform: translateX(-5px);
    cursor: pointer;
}

.homesidebarListItem:hover {
    background: -webkit-linear-gradient(190deg, rgba(79, 233, 8, 0.35) 15.55%, rgba(3, 214, 242, 0.91) 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}