.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContianer {
    display: flex;
    align-items: center;
}

.userBio {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 400px;
    height: 100px;
    margin: 10px;
    transform: translateY(-30px);
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarTitle {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    border:none;
    background: inherit;
    color:white;
    cursor: pointer;
}

.followersDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.rightbarfriendlist {
    padding: 0;
    margin-top: 0px;
    list-style: none;
}

.rightbarInfoItem {
    margin-bottom: 10px;

}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarInfoValue {
    font-weight: 100;
}

.friendsHeading {
    margin-bottom: 30px;
    margin-top: 15px;
    color: white;
    font-size: 40px;
    font-weight: 300;
}

.rightbarFollowings {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    position: absolute;
    right:500px;
    top:-300px;
    height: 500px;
    width: 450px;
    padding-top: 20px;
    z-index: 10;
}

.rightbarFollowing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 420px;
    height: 65px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    background: #1A1A1B;
    border-radius: 10px;
    border: 1px solid rgba(93, 92, 92, 0.5);
}

.rightbarFollowingName {
    color: white;
    font-size: 20px;
    margin-right: 13px;
}

.rightbarFollowingImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.rightbarFollowButton {
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    height:45px;
    width:150px;
    position: absolute;
    justify-content: center;
    top:470px;
    right:400px;
}
.rightbarMessageButton{
    border: none;
    height:45px;
    width:180px;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top:470px;
    right:200px;
}
.rightbarFollowButton:focus {
    outline: none;
}

