.main{
    background: rgb(15, 15, 15);
}

.message{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px 20px 20px 0px;
    background-color: #2db0ca;
    color: black;
    max-width: 300px;
    min-width: 40px;
}

.messageBottom{
    font-size:12px;
    margin-top: 10px;
    color: white;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(205, 204, 204);
    color: rgb(0, 0, 0);
    border-radius: 20px 20px 0px 20px;
}