.sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
}

.sidebarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 450px;
}



::-webkit-scrollbar {
    width: 0.8px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(20px);
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    font-size: 25px;
    
}

.sidebarIcon {
    margin-right: 15px;
}

.link {
    text-decoration: none;
    color: white;
}

.logoutBtn {
    border: none;
    background: inherit;
    color: white;
    font-size: 25px;
    transform: translateX(-5px);
    cursor: pointer;
}

.hover-sidebarItems {
    display: inline-block;
    position: relative;
  }
  
  .hover-sidebarItems::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(79, 233, 8, 0.35) 15.55%, rgba(3, 214, 242, 0.91) 99.99%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-sidebarItems:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .dark-mode{
    background-color: white;
    color: black;
  }