.sidebar {
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
}

.sidebarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 450px;
}

::-webkit-scrollbar {
    width: 0.8px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(20px);
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    font-size: 25px;
}

.sidebarIcon {
    margin-right: 15px;
}

.link {
    text-decoration: none;
    color: white;
}

.logoutBtn {
    border: none;
    background: inherit;
    color: white;
    font-size: 25px;
    transform: translateX(-5px);
}