.sideBar {
    /* background: rgb(61, 125, 47); */
    width: 45%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.upperTriangle {
    height: 500px;
    width: 670px;
    background: linear-gradient(10deg, #0FCDE7 -5.21%, rgba(52, 133, 138, 0) 96%);
    opacity: 0.7;
    box-shadow: 40px 43px 4px rgba(190, 12, 12, 0.25);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    position: absolute;
    left: -14rem;
    z-index: 1;
}

.lowerTriangle {
    height: 600px;
    width: 800px;
    background: linear-gradient(180deg, rgba(93, 235, 27, 0.35) 15.55%, rgba(15, 205, 231, 0.6) 99.99%);
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: rotate(90deg);
    position: absolute;
    left: -150px;
    bottom: -9rem;
    z-index: 0;
}

.main {
    margin: 0px;
    width: 100%;
    height: 47.5rem;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: end;
}

.logoImg {
    height: 40px;
    width: 185px;
    margin: 15px;
}

.loginWrapper {
    width: 1400px;
    translate: 0 50px;
    transform: translateY(40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signIn {
    font-size: 40px;
    color: white;
    margin: 10px;
}

.loginRight {
    width: 400px;
    height: 250px;
}

.loginform {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput{
    width: 283px;
    height: 53px;
    margin: 5px;
    background: #D9D9D9;
    border-radius: 50px;
}

.loginInput:focus {
    outline: none;
}

.LoginBtn {
    width: 296px;
    height: 53px;
    /* background: linear-gradient(120.73deg, rgba(93, 235, 27, 0.5) 24.57%, rgba(15, 205, 231, 0.65) 78.27%); */
    background: linear-gradient(110.73deg, rgba(88, 235, 120, 0.51) 30.57%, rgba(15, 205, 231, 0.5) 85.42%);
    box-shadow: none;
    border: none;
    border-radius: 10px;
    margin-top:30px;
    color:white;
    font-size:25px;
    font-weight: 500;
    cursor: pointer;
}

.LoginBtn:focus {
    outline: none;
}

.LoginBtn:disabled {
    cursor: not-allowed;
}

.forgotPass {
    text-align: center;
    color: #1775ee;
    margin: 20px;
}

.createBtn {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(36, 159, 30);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}