.post {
  width: 80%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 15px 0;
  display: flex;
  align-self: center;
}

.mainBox{
  display: flex;
  justify-content: center;
}

.postWrapper {
  padding: 10px;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #1A1A1B;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.postTop {
  display: flex;
  flex-direction: column;
}

.postTopLeft {
  display: flex;
  align-items: center;
  translate:10px 20px;
  margin-bottom:20px;
}

.postProfileImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  
}

.postUsername {
  font-size: 30px;
  font-weight: 500;
  margin: 0 10px;
  color: #D7DADC;
}

.postDate {
  font-size: 12px;
  position: relative;
  color: #D7DADC;
  margin:12px;
}

.postCenter {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  max-width:80%;
  border:1px solid rgb(163, 134, 134);
  border-radius: 12px;;
  background: rgb(67, 65, 65);
  padding: 15px;
}

.postText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #D7DADC;
  margin-left: 10px;
}

.postImg {
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  border-radius: 15px;
}

.postBottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width:35%;
}

.likeIcon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  
}
.postBottomLeft{
  margin-bottom: 20px;
  display: flex;
}

.postLikeCounter {
  font-size: 30px;
  color:aqua

}

.postCommentText {
  cursor: pointer;
  font-size: 30px;
  color:aqua
}

.uploadDeatils{
  /* background: red; */
  margin-left: 20px;;
}