.homeSecContainer {
    display: flex;
    width: 100%;
    height: 700px;
    background: rgb(21, 20, 20);
    transform: translateY(80px);
}

.homeFeed {
    overflow: scroll;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: radial-gradient(circle at bottom, #61e8f6, #76deef 10%, #4e0afb 80%, #052745 100%);
}

.stage {
    width: 600px;
    height: 800px;
    position: absolute;
    margin: 20px;
}

.ball.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1;
}

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
}